.bgBanner{
  height: 100vh;

  background: url('../../assets/img/banner-tbridge.jpg');
  background-color: #121212;
  background-size: cover;
  background-position: center;

  @media only screen and (min-width: 992px) {
    .banner__h1{
      font-size: 72px !important;
      line-height: 95px !important;
    }

    .banner__span{
      font-size: 72px !important;
      line-height: 95px !important;
    }
  }

  .banner{
    h1{
      margin-bottom:  36px;

      .banner__h1{
        display: inline;

        font-size: 36px;
        font-family: Lexend;
        font-weight: bold;
        color: #FFFFFF;
        background: #131313;
        padding: 3px 8px 2px 8px;
        line-height: 50px;

      }
      .banner__span{
        line-height: 20px;

        display: inline;
        font-size: 36px;
        font-family: Lexend;
        font-weight: bold;
        padding: 3px 8px 2px 8px;

        background: #1EA1B7;
        color: #131313;
      }
    }

    .banner__AboutMore{
      font-size: 22px;
      font-family: Lexend;
      color: #FFFFFF;

      background: #1EA1B7;
      padding: 12px 32px;

      text-decoration: none;

      border-radius: 30px;

      svg{
        margin-left: 19px;
      }

    }
  }
}
