.containerForm{
  .simple__adjust{
    margin-bottom: 30px;
  }

  .containerForm__description{
    color: #FFFFFF;
    margin: 0;

    .containerForm__description--h3{
      font-weight: bold;
      font-size: 72px;
      font-family: Lexend;
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 992px) {
      .containerForm__description--h3{
        font-size: 36px !important;
      }
    }

    .containerForm__description--p{
      font-family: Lexend;
      font-size: 18px !important;
      top: 24px !important;
    }
  }

  button{
    margin: 40px 0 0 0;
  }

  .buttonDefault{
    font-family: Lexend;

    border-radius: 30px;
    border: 2px solid #BAC7D3;
    
    background: transparent;
    color: #FFFFFF;

    margin-top: 120px !important;
    padding: 9px 32px;
  }
}

@media only screen and (max-width: 992px) {
  .containerInfo{
    margin-left: 0px !important;
  }
}

.containerInfo{
  margin-left: 70px;

  .containerInfo__address{
    margin-top: 0px;
    color: #FFFFFF;
    font-family: Lexend;

    strong{
      font-size: 24px;
      font-weight: bold;
    }
    p{
      font-size: 18px;
      margin: 20px 0 0 0;
    }
  }
  .containerInfo__cell{
    margin-top: 40px;
    color: #FFFFFF;
    font-family: Lexend;

    strong{
      font-size: 24px;
      font-weight: bold;
    }
    p{
      font-size: 18px;
      margin: 20px 0 0 0;
    }
  }

  .containerSocial{
    margin-top: 40px;

    strong{
      font-size: 24px;
      font-weight: bold;
      font-family: Lexend;
      color: #FFFFFF;
    }

    .containerSocial__lists{
      display: flex;
      align-items: center;
      list-style: none; 
      padding: 0;

      margin: 20px 0 94px 0;

      li{
        margin-right: 20px;

        &.containerSocial__lists--linkedin{
          border: 3px solid #FFFFFF;
          border-radius: 5px;
          padding: 1px;
        }
      }
    }
  }
}

.inputForm {
  margin-top: 40px;
  height: 40px;
  width: 100%;
  position: relative;
  font-size: 14px;

  textarea {
    height: 120px !important;
  }

  input, textarea {
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bac7d3;
    font-family: "Lexend";
    font-size: 18px;
    color: #6f6f6f;

    &:focus {
      outline: none;
      border-bottom: 1px solid #ffffff;
    }
    &:focus ~ label {
      transform: translateY(-20px);
      font-size: 12px;
      color: #ffffff;
      bottom: 0px;
      left: 0px;
    }
    &:valid ~ label {
      transform: translateY(-20px);
      font-size: 12px;
      color: #FFF !important;
    }
  }


  label {
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    left: 10px;
    color: #6f6f6f;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: "Lexend";
    font-size: 16px;

  }
}
