.CheckTheSchedule{
  @media only screen and (min-width: 992px) {
    padding-right: 0 !important;
  }

  .CheckTheSchedule__title{
    background: #2E34DB;
    padding: 95px 52px;
    margin-top: 112px;
    @media only screen and (min-width: 992px) {
      height: 550px;
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @media(max-width: 768px){
      padding: 95px 35px;
    }

    .CheckTheSchedule__title--h3{
      font-size: 46px;
      font-family: Lexend;
      text-align: left;
      font-weight: bold;
      line-height: 52px;
      color: #FFFFFF;
      @media only screen and (min-width: 992px) {

        font-size: 72px;
        line-height: 82px;
      }
    }
  }
}


.CarouselEvent{
  margin-bottom: 112px;
  @media only screen and (min-width: 992px) {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 0 !important;
  }

  .carousel{
    height: 550px;

    .carousel-caption{
      display: flex;
      align-items: flex-start;
      flex: 0;
      flex-direction: column;
      right: 0;
      left: 0;
      margin: 0 26px 18px 26px;

      span{
        background: #FFFFFF;
        border-radius: 25px;

        padding: 6px 15px;
        color: #2E34DB;
        margin: 0 0 4px 0;
        font-family: Lexend;
        font-size: 11px;
        line-height: 20px;
        padding: 8px 20px;

        @media only screen and (min-width: 992px) {
          font-size: 18px;
          line-height: 32px;
        }
      }

      h3{
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        font-family: Lexend;
        padding-right: 100px;
        @media only screen and (min-width: 992px) {

          font-size: 48px;
          line-height: 52px;
        }
      }
    }

    .carousel-item{
      img{
        height: 550px;
        object-fit: cover;
      }
    }

    .carousel-indicators{
      display: flex;
      justify-content: flex-start;

      margin: 0 26px 26px 26px !important;



    //   li{
        border: none !important;
        border-radius: 50% !important;
        height: 16px !important;
        width: 16px !important;
        background-color: #2E34DB !important;
        opacity: 1 !important;
        // margin: 0 6px 0 0 !important;
        &.active{
          background-color: #FFFFFF;
        }
    //   }
    }
  }
}

a:hover{
  list-style: none;
}