@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
.activeColor{
  margin-top: -27px !important;
  padding-bottom: 5px;

  background-color: #ffffff !important;
  box-shadow: 0px 0px 12px #0000001F;

  width: 100%;
  .menu__list--link{
    color: #121212 !important;
  }

  .button-link{
    color: #FFFFFF !important;
  }

  .menu__brand a{
    color: #121212 !important;
  }

}

.menuMobile {
  display: none;
  justify-content: space-between;

  flex-direction: column;
  align-items: center;

  position: fixed;
  height: 100vh;
  width: 100%;
  background: #121212;
  overflow: hidden;
  z-index: 1000;

  .menu__buttonMobile {
    display: flex;
    align-items: flex-start;

    width: 100%;

    margin-top: 36px;
    margin-left: 25px;

    .menu__buttonMobile--button {
      background: transparent;
      border: none;
      top: 0;

      div {
        display: block;
        width: 32px;
        height: 2px;

        margin: 7px 0;

        border-radius: 5px;

        &.menu__buttonMobile--one {
          background: #ffffff;
          transform: rotate(45deg);
        }

        &.menu__buttonMobile--two {
          background: #ffffff;
          transform: rotate(-45deg);

          margin-top: -9px;
          margin-left: 0px;
        }
      }
    }
  }

  .menuMobile__content {
    .menu__list {
      margin: 15px 0;
      list-style: none;

      .menu__list--link {
        color: #ffffff;
        font-family: "Work Sans";
        font-size: 36px;
        letter-spacing: 0px;

        font-weight: 1000;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  .menu__button {
    margin-bottom: 60px;


    .menu__list--link {
      color: #ffffff;
      font-family: "Work Sans";
      font-size: 22px;
      letter-spacing: 0px;
      padding: 11px 35px;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  list-style: none;

  margin-top: 30px;

  .menu__buttonMobile {
    @media only screen and (min-width: 992px) {
      display: none;
    }


    z-index: 30;
    background: none;
    border: none;

    cursor: pointer;
  }

  .menu__brand {
    @media only screen and (max-width: 992px) {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 10;
    }
    
    a{
      font-family: "Lexend";
      color: #ffffff;
      font-size: 32px;
    }

    .title {
      font-weight: 900;
    }
  }

  .menu__content {
    display: flex;
    align-items: center;

    .menu__list {
      margin: 0 20px;

      .menu__list--link {
        color: #ffffff;
        font-family: "Work Sans";
        font-size: 18px;
        letter-spacing: 0px;

        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}
