.imageConnecting{
    height: 275px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

  @media only screen and (max-width: 992px) {
    width: 275px;
    margin-right: 2px;

  }

  .bgImageConnecting{
    height: 100%;
    background: rgba(18,18,18, 0.4);

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .imageConnecting__text{
    //   background: #FDC42A;
      padding: 8px 20px;
      border-radius: 30px;
      margin: 0 0 10px 10px;

      font-size: 18px;
      font-family: Lexend;
      color: #121212;
      line-height: 32px;
    }
  }
}
